$sky-color : #9ecae1;
$road-color : #383838;
$yellow-color: #fec44f;

/* USED SASS check index.scss file
  if you are new to Sass, you need vs code extension,
  that will change Sass to css
  Live Sass Compiler*/

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper{
    height: 100%;
    width: 100%;
}

// Working with SKY portion

.sky{
    background-color: $sky-color;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0px;
    left: 0px;
    .sun-moon{
        position: absolute;
        top: 10px;
        left: 40%;
        height: 200px;
    }
    .cloud-group-1{
        position: absolute;
        .cloud-1{
            position: absolute;
            top: 15px;
            left: 50px;
            width: 130px;
        }
        .cloud-2{
            position: absolute;
            top: 100px;
            left: 400px;
            width: 150px;
        }
        .cloud-3{
            position: absolute;
            top: 15px;
            left: 750px;
            width: 130px;
        }
    }
    .cloud-group-2{
        position: absolute;
        .cloud-1{
            position: absolute;
            top: 100px;
            left: 1100px;
            width: 150px;
        }
        .cloud-2{
            position: absolute;
            top: 15px;
            left: 1450px;
            width: 130px;
        }
        .cloud-3{
            position: absolute;
            top: 100px;
            left: 1800px;
            width: 150px;
        }
    }
}

// Working with ROAD portion

.road{
    background-color: $road-color;
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    #whiteTop{
        position: absolute;
        background-color: white;
        height: 3%;
        width: 100%;
        bottom: 240px;
        left: 0px;
    }
    #whiteBottom{
        position: absolute;
        background-color: white;
        height: 3%;
        width: 100%;
        bottom: 20px;
        left: 0px;
    }

    #yellow-dicider, #yellow1, #yellow2, #yellow3, #yellow4, #yellow5, #yellow6, #yellow7{
        position: absolute;
        height: 4%;
        width: 10%;
        bottom: 125px;
    }
    #yellow-divider{
        overflow: hidden !important;
    }
    #yellow1{
        background-color: $yellow-color;
        left: 20px;
    }
    #yellow2{
        background-color: $yellow-color;
        left: 354px;
    }
    #yellow3{
        background-color: $yellow-color;
        left: 688px;
    }
    #yellow4{
        background-color: $yellow-color;
        left: 1022px;
    }
    #yellow5{
        background-color: $yellow-color;
        left: 1356px;
    }
    #yellow6{
        background-color: $yellow-color;
        left: 1690px;
    }
    #yellow7{
        background-color: $yellow-color;
        left: 2024px;
    }
    #car{
        z-index: 1;
        position: absolute;
        bottom: -40px;
        width: 450px;
        left: 400px;
    }
    
}